@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    foreach(var role in Model)
    {
        <li>@role.Name</li>
    }
}
else
{
    <p>You need to create roles</p>
}